@page "/"

@namespace R5T.R0014.Construction

<HtmlLayout01>
    <Head>
        <meta charset="utf-8" />

        <title>Index Page</title>
    </Head>
    <Body>
        <h3>Index</h3>

        <Component1 />
    </Body>
</HtmlLayout01>


@code {

}